{% extends "base.html" %}

{% block title %}User{% endblock title %}

{%block content %}
    {% for key, value in usermanager.items() %}
       <h3>  <form action="/user/update/{{ key }}/" method="POST"><u>{{ key }} </u> &emsp;<input type="submit" class="btn btn-primary" value="Edit User"></input></form> </h3> 
       
       <h5> password: {{ value['password'] }}</h5>
       <h5> Roles: {{value['roles']}} </h5>
       <h5> Active: {{value['active']}} </h5>

       <h5> Authenticated: {{ value['authenticated'] }}</h5>
       <h5> Authentication Method: {{ value['authentication_method'] }}</h5>

       <h5><form action="/user/delete/{{ key }}/" method="post"><input type="submit" class="btn btn-primary" value="Delete"></form></h5>
        <br>
        <hr>
    {% endfor %}
{%endblock content%}

{% block sidebar %}
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('wiki.create') }}">New Page</a></li>
	<li><a href="{{ url_for('wiki.tags') }}">Tag List</a></li>
	<li><a href="{{ url_for('wiki.search') }}">Search</a></li>
    <li><a href="{{ url_for('wiki.user_create') }}">Add User</a></form>  </li>
</ul>
{% endblock sidebar %}
